#start {
text-align: center;
}
#logo {
	float: left;
	width: 156px;
	height: 156px;
}
p {
	font-size: 18px;
}
h1 {
	font-size: 35px;
}
#footer {
	background-color: #4C4E52;
	display: block;
	color: white;
}
#lock-in {
	text-align:center;
}
h2 {
 text-align: center;
}
